<h1 align=center><font size = 5>Introduction to Pandas  Python</font></h1>

# Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Importing Data</a></p></li>
<li><a href="#ref2">Viewing Data and Accessing Data </a></p></li>
<br>
<p></p>
</div>

<hr>

<a id="ref0"></a>
<h2 align=center>About the Dataset</h2>



The table has one row for each album and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) 
- **claimed_sales_millions** - Album's claimed sales (millions in USD) 
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>

You can see the dataset here:

<font size="1">
<table font-size:xx-small style="width:100%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<a id="ref1"></a>
<h2 align=center> Importing Data </h2>

We can import the libraries  or dependency like Pandas  using the following command:

In [ ]:
import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (**.csv** ) file to a dataframe. This variable **csv_path** stores the path of the  **.csv** ,that is  used as an argument to the **read_csv** function. The result is stored in the object ** df**, this is a common short form used for a variable referring to a Pandas dataframe.

In [7]:
csv_path='Original_1995-1999_Fuel_Consumption_Ratings_(2-cycle).csv'
df = pd.read_csv(csv_path)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 2: invalid start byte

We can use the method **head()** to examine the first five rows of a dataframe:

In [3]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

The process for loading an excel file is similar, we use the path of the excel file and the function **read_excel**. The result is a data frame as before:

In [4]:
#dependency  needed to install file 
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\satya teja\anaconda3\lib\site-packages (1.2.0)

In [5]:
xlsx_path='top_selling_albums.xlsx'

df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column "Length" and assign it a new dataframe 'x':

In [8]:
x=df[['Length','Released']]
x

     Length  Released
0  00:42:19      1982
1  00:42:11      1980
2  00:42:49      1973
3  00:57:44      1992
4  00:46:33      1977
5  00:43:08      1976
6  01:15:54      1977
7  00:40:01      1977

 <a id="ref2"></a>
<h2 align=center> Viewing Data and Accessing Data </h2>

You can also assign the value to a series, you can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [9]:
x=df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

You can also assign different columns, for example, we can assign the column 'Artist':

In [10]:
x=df[['Artist']]
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

#### Assign the variable 'q' to the dataframe that is made up of the column 'Rating':

 <div align="right">
<a href="#q1" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q1" class="collapse">
```
q=df[['Rating']]
q
```
</div>

You can do the same thing for multiple columns; we just put the dataframe name, in this case, **df**, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [11]:
y=df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [12]:
df[['Album','Released','Length']]

                             Album  Released    Length
0                         Thriller      1982  00:42:19
1                    Back in Black      1980  00:42:11
2        The Dark Side of the Moon      1973  00:42:49
3                    The Bodyguard      1992  00:57:44
4                  Bat Out of Hell      1977  00:46:33
5  Their Greatest Hits (1971-1975)      1976  00:43:08
6             Saturday Night Fever      1977  01:15:54
7                          Rumours      1977  00:40:01

#### Assign the variable 'q' to the dataframe that is made up of the column 'Released' and 'Artist':

 <div align="right">
<a href="#q2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q2" class="collapse">
```
q=df[['Released','Artist']]
q
```
</div>

One way to access unique elements is the 'ix' method, where you can access the 1st row and first column as follows :

In [13]:
#**ix** will be deprecated, use **iloc** for integer indexes 
#df.ix[0,0]
df.iloc[0,0]

'Michael Jackson'

You can access the 2nd  row and first column as follows:

In [3]:
#**ix** will be deprecated, use **iloc** for integer indexes
##ix[1,0]
df.iloc[1,0]

NameError: name 'df' is not defined

 You can access the 1st row 3rd column as follows:

In [ ]:
#**ix** will be deprecated, use **iloc** for integer indexes
#df.ix[0,2]
df.iloc[0,2]

#### Access the 2nd row  3rd column:

 <div align="right">
<a href="#q3" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q3" class="collapse">
```
df.ix[1,2]
    
or df.iloc[0,2]
```
</div>

You can access the column using the name as well, the following are the same as above:

In [4]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[0,'Artist']
df.loc[0,'Artist']

NameError: name 'df' is not defined

In [ ]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[1,'Artist']
df.loc[1,'Artist']

In [ ]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[0,'Released']
df.loc[0,'Released']

In [ ]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[1,'Released']
df.loc[1,'Released']

In [ ]:
df.ix[1,2]

You can perform slicing using both the index and the name of the column:

In [ ]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[0:2, 0:3]
df.iloc[0:2, 0:3]

In [ ]:
#**ix** will be deprecated, use **loc** for label-location based indexer
#df.ix[0:2, 'Artist':'Released']
df.loc[0:2, 'Artist':'Released']