<h1 align=center><font size = 5>PYTHON PART-2</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">Tuples</a></li>
<li><a href="#ref1">Lists</a></li>
<li><a href="#ref2">Dictionaries</a></li>
<li><a href="#ref2">Sets</a></li>
<p></p>
</div>

<hr>

## 1.Tuples

In [1]:
tuple1=("sample_string",10,1.2 )
print('tuple1=',tuple1)

tuple1= ('sample_string', 10, 1.2)

In [2]:
type(tuple1)

tuple

In [3]:
print( tuple1[0])
print( tuple1[1])
print( tuple1[2])

sample_string
10
1.2

In [4]:
print( type(tuple1[0]))
print( type(tuple1[1]))
print( type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
tuple1[-1]

1.2

In [6]:
tuple1[-2]

10

In [7]:
tuple1[-3]

'sample_string'

In [8]:
tuple2=tuple1+("sample_string2", 10)
tuple2

('sample_string', 10, 1.2, 'sample_string2', 10)

In [9]:
tuple2[0:3]

('sample_string', 10, 1.2)

In [10]:
tuple2[3:5]

('sample_string2', 10)

In [11]:
len(tuple2)

5

In [12]:
X  =(0,9,6,5,10,8,9,6,2)

In [13]:
Y=X
Y

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [14]:
Xsorted=sorted(X)
Xsorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

#### Nested tuples

In [15]:
NestT =(1, 2, ("A**s@", "rock") ,(3,4),("rio",(1,2)))
NestT

(1, 2, ('A**s@', 'rock'), (3, 4), ('rio', (1, 2)))

In [16]:
print("Element 0 of Tuple: ",   NestT[0])
print("Element 1 of Tuple: ",  NestT[1])
print("Element 2 of Tuple: ",  NestT[2])
print("Element 3 of Tuple: ", NestT[3])
print("Element 4 of Tuple: ", NestT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('A**s@', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('rio', (1, 2))

In [17]:
print("Element 2,0 of Tuple: ",   NestT[2][0])
print("Element 2,1 of Tuple: ",   NestT[2][1])
print("Element 3,0 of Tuple: ",   NestT[3][0])
print("Element 3,1 of Tuple: ",   NestT[3][1])
print("Element 4,0 of Tuple: ",   NestT[4][0])
print("Element 4,1 of Tuple: ",   NestT[4][1])

Element 2,0 of Tuple:  A**s@
Element 2,1 of Tuple:  rock
Element 3,0 of Tuple:  3
Element 3,1 of Tuple:  4
Element 4,0 of Tuple:  rio
Element 4,1 of Tuple:  (1, 2)

In [18]:
NestT[2][1][0]

'r'

In [19]:
NestT[4][1][0]

1

## 2.Lists

<a id="ref1"></a>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an 'index'. An index is used to access and refer to items within a list.
To create a list,type the list within square brackets**[ ]**, with your content inside the parenthesis and separated by commas. Letâ€™s try it!

<h1 align=center> Representation of a list  
  </h1>

<img src="Sample.png">

In [20]:
L=["Some sample string" , 10.1,1982]
L

['Some sample string', 10.1, 1982]

In [21]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Some sample string
 Negative: Some sample string
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [22]:
L2=[ "XYZ", 10.1,1982,[1,2],("A",1) ]

In [23]:
L2

['XYZ', 10.1, 1982, [1, 2], ('A', 1)]

 We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [24]:
M=[ "Machine Learning", 10.1,1982,"ML",1]
M

['Machine Learning', 10.1, 1982, 'ML', 1]

In [25]:
M[3:5]

['ML', 1]

We can use the method "extend" to add new elements to the list:

In [26]:
L3=[ "Artificial Intelligence", 10.2]
L3

['Artificial Intelligence', 10.2]

In [27]:
L3.extend(['AI',10])
L3

['Artificial Intelligence', 10.2, 'AI', 10]

Another similar method is 'appended'. If we apply 'appended' instead of 'extended', we add one element to the list:

In [28]:
L3=[ "Artificial Intelligence", 10.2]
L3.append(['AI',10])
L3

['Artificial Intelligence', 10.2, ['AI', 10]]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [29]:
A=["ML",10,1.2]
print('Before change:', A)
A[0]='AI'
print('After change:', A)

Before change: ['ML', 10, 1.2]
After change: ['AI', 10, 1.2]

 We can also delete an element of a list using the **del** command:

In [30]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['AI', 10, 1.2]
After change: [10, 1.2]

 We can convert a string to a list using 'split'.  For example, the method **split** translates every group of characters separated by a space into an element in a list:

In [31]:
'Machine Learning'.split()

['Machine', 'Learning']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [32]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

 When we set one variable  **B** equal to **A**;  both **A** and **B** are referencing the same list in memory :

In [33]:
A=["Pandas",10,1.2]
B=A
print('A:',A)
print('B:',B)

A: ['Pandas', 10, 1.2]
B: ['Pandas', 10, 1.2]

 Initially, the value of the first element in ** B** is set as Docker. If we change the first element in **A**  to 'banana', we get an unexpected side effect.  As **A** and **B ** are referencing the same list, if we change list **A**, then list **B** also changes.  If we check the first element of **B** we get banana instead of hard rock:

In [34]:
print('B[0]:',B[0])
A[0]="Numpy"
print('B[0]:',B[0])

B[0]: Pandas
B[0]: Numpy

You can clone list  **A** by using  the following syntax:

In [35]:
B=A[:]
B

['Numpy', 10, 1.2]

 Variable **B** references a new copy or clone of the original list; this is demonstrated in the following figure:

Now if you change **A**, **B** will not change:

In [36]:
print('B[0]:',B[0])
A[0]="Pandas"
print('B[0]:',B[0])
print('A[0]:',A[0])

B[0]: Numpy
B[0]: Numpy
A[0]: Pandas

## Dictionaries

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are labels that are used to access values within a dictionary.

<a ><img src = "https://ibm.box.com/shared/static/6tyznuwydogmtuv73o8l5g7xsb8o92h2.png" width = 650, align = "center"></a>
  <h4 align=center>  A  Comparison of a Dictionary to a list: Instead of the numerical indexes like a list, dictionaries have keys.
  </h4>

In [37]:
Dict={"key1":1,"key2":"2","key3":[3,3,3],"key4":(4,4,4),('key5'):5,(0,1):6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

 The keys can be strings:

In [38]:
Dict["key1"]

1

 Keys can also be any immutable object such as a tuple:

In [39]:
Dict[(0,1)]

6

In [40]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [41]:
Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

We can also add an entry

In [42]:
Dict['Key7']='(2,5)'
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 'Key7': '(2,5)'}

We can also delete an entry

In [43]:
del(Dict['key3'])
Dict

{'key1': 1,
 'key2': '2',
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6,
 'Key7': '(2,5)'}

## Sets

In this lab, we are going to take a look at sets in Python. A set is a unique collection of objects in Python. You can denote a set with a curly bracket **{}**. Python will remove duplicate items:

In [44]:
set1={"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

 You can also  create a set from a list as follows:

In [45]:
album_list =[ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of  genres:

In [46]:
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

#### Convert the following list to a set ['rap','house','electronic music', 'rap']:

In [47]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

Notice that the duplicates are removed and the output is sorted.

Let us get the sum of the claimed sales:

#### Consider the list A=[1,2,2,1] and set B=set([1,2,2,1]), does sum(A)=sum(B)

In [48]:
A=[1,2,2,1]  
B=set([1,2,2,1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))

the sum of A is: 6
the sum of B is: 3

### Set Operations

In [49]:
A = set(["Thriller","Back in Black", "AC/DC"] )
A

{'AC/DC', 'Back in Black', 'Thriller'}

 We can add an element to a set using the **add()** method:

In [50]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [51]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

 We can remove an item from a set using the remove method:

In [52]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

 We can verify if an element is in the set using the **in** command :

In [53]:
"AC/DC"  in A

True

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

Consider the following two sets:

In [54]:
album_set1 = set(["Thriller",'AC/DC', 'Back in Black'] )
album_set2 = set([ "AC/DC","Back in Black", "The Dark Side of the Moon"] )

In [55]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

 As both sets contain 'AC/DC' and 'Back in Black' we represent these common elements with the intersection of two circles.

We can find the common elements of the sets as follows:

In [56]:
album_set_3=album_set1 & album_set2
album_set_3

{'AC/DC', 'Back in Black'}

We can find all the elements that are only contained in **album_set1** using the **difference** method:

In [57]:
album_set1.difference(album_set2)

{'Thriller'}

We only consider elements in **album_set1**; all the elements in **album_set2**, including the intersection, are not included.

The difference between **album_set2** and **album_set1** is given by:

In [58]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

We can also find the intersection, i.e in both **album_list2** and **album_list1**, using the intersection command :

In [59]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

 The union is given by:

In [60]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [61]:
set(album_set1).issuperset(album_set2)

False

In [62]:
set(album_set2).issubset(album_set1)

False

In [63]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [64]:
album_set1.issuperset({"Back in Black", "AC/DC"})

True